.user {
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-family: "Google Sans";
	height: 56px;
	justify-content: space-between;
	line-height: normal;
}

.userInfo {
	align-items: center;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	flex-direction: row;
	min-width: 0;
}

.userImage {
	-moz-border-radius: 50%;
	border-radius: 50%;
	flex-shrink: 0;
	height: 32px;
	margin-right: 16px;
	min-width: 32px;
}

.UserNameWrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	box-flex: 1;
	flex-grow: 1;
	overflow: hidden;
}

.userName {
	box-flex: 1;
	flex-grow: 1;
	font-size: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.events {
	display: flex;
	align-items: center;
}

.event {
	margin-left: 4px;
	font-weight: 100;
	font-size: 20px;
	color: #6d6d6f;
}

.time {
	color: rgb(33, 33, 33);
	font-family: "Google Sans", Roboto, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.15px;
	line-height: normal;
	text-transform: none;
	padding: 7px 8px;
	border-radius: 5px;
	margin-left: 5px;
}